<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create my work</title>
</head>
<body>
<h1>Create my work</h1>
<p>
    <a href="/myworks/">My work list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:object="${mywork}" method="post">
    <div  th:if="${#fields.hasErrors()}">
        <div th:each="error : ${#fields.errors()}" th:text="${error}"></div>
    </div>
    <table>
        <tr>
            <td>Tao cong viec moi:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create my work"></td>
        </tr>
    </table>
</form>
</body>
</html>