<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create my work</title>
</head>
<body>
<h1>Create my work</h1>
<p>
    <a href="/myworks/">My work list</a>
</p>
<h2>Edit my work</h2>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:object="${mywork}" method="post">

    <table>
        <tr>
            <td>Cong viec:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="edit my work"></td>
        </tr>
    </table>
</form>
</body>
</html>